.navbar {
    
}
.topnavbar {
    list-style-type: none;
    display: block;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: violet;
}
.topright {
    float: right;
    padding: 5px;
}
.topleft {
    float: left;
    padding: 5px;
}
.content {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 500px;
    width: 500px;
    background-color: tomato;
    grid-template-areas: 
    "logo logo"
    "searchbar searchbar"
    "searchb" "lucky";
    align-items: center;
    padding: 5px 5px;
    margin: 20px;
}

.logo {
    grid-area: logo;
}
.searchbar {
    grid-area: searchbar;
}
.search {
    grid-area: searchb;
}
.luckyb {
    grid-area: lucky;
}

#google-apps {
    height: 15px;
    width: 15px;

}

#signinbox {
    display: block;
    border-width: 1px;
    border-color: #4285f4;
    border-style: solid;
    background-color: #4683ea;
    border-radius: 2px;
    padding: 6px 12px;
    font-weight: bold;
    color: white;
}